h1{
    font-size: 60px;
}
h2{
    font-size: 60px;
}
a{
    font-size: 60px;

}
.Children{
    background-image: url("../images/St.josephs\ building.webp");
}
.bod{
    background-image: url("../images/St.josephs\ building.webp");
}
